<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name = "TestMessageClass" >
        <classes>
         <class name="TestMessage" >
                <methods>
                    <include name = "callRobotTest" />
                    <include name = "taskRemindTest" />
                </methods>
           </class> 
<!--            <class name="TestBranch" >
                <methods>
                    <include name = "parcelDetailTest" />
                </methods>
            </class>
            <class name="Login" >
                <methods>
                    <include name = "loginTest" />
                </methods>
            </class>-->
        </classes>
    </test>
</suite>